<body class="body-container">
  <div class="header">
    <h1 class="title">Card Battles</h1>
    <div class="search-container">
      <input class="search" placeholder="Search your card">
      <button class="button1">
        <img  src="assets/img/button.png" alt="boton busqueda" />
      </button>
    </div>
    <div class="rect">
      <p class="text">"Find your favorite card and improve your strategy. Search by name and discover its abilities."</p>
    </div>
  </div>
  <app-body-cards></app-body-cards>
  <div class="rectbotton">
    <button class="textbotton">load more</button>
  </div>
</body>
