.frame-4_6-79 {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
    background: #fbad51;
    width: 77px;
  }
  .vector_6-78 {
    display: flex;
  }