<div class="body">
    <div class="cards-container">
      <app-card 
        [name]="'Mega Knight'"
        [image1]="'assets/img/megacaballero_card.png'" 
        [image2]="'assets/img/statsMegacaballero.png'" 
        [text]="'The mega-gentleman loves boxing almost as much as his mustache. With each attack, the hook of this evolution throws his opponent to the enemy crown tower more close.'">
      </app-card>
    
      <app-card 
        [name]="'Wizard'"
        [image1]="'assets/img/wizard_card.png'" 
        [image2]="'assets/img/statsWizard.png'" 
        [text]="'Is it hot in here or is it The wizard now has an elegant shield burning that explodes when broken, dealing damage and knocking back nearby enemies.'">
      </app-card>
    
      <app-card 
        [name]="'Pekka'"
        [image1]="'assets/img/pekka_card.png'" 
        [image2]="'assets/img/statspekka.png'" 
        [text]="'Fly like a butterfly and sting like a bee. The evolution of the P.E.K.K.A. carries a giant devouring sword of souls that restore health after taking down your enemies.'">
      </app-card>
    
      <app-card 
        [name]="'Goblin cage'"
        [image1]="'assets/img/goblinCage_card.png'" 
        [image2]="'assets/img/statsGoblinCage.png'" 
        [text]="'If you smell what the Goblin Brawler is cooking! Enemies that get close to the Evolved Goblin Cage are pulled inside and take damage over time until the enemy or cage is destroyed.'">
      </app-card>
    
      <app-card 
        [name]="'Goblin Gigant'"
        [image1]="'assets/img/goblinGigant_card.png'" 
        [image2]="'assets/img/statsGoblinGigant.png'" 
        [text]="'The bigger the sack, the bigger the...amount of Goblins spawn! At low health, this evolution will spawn a stream of Goblins. Take him out quickly!'">
      </app-card>
    
      <app-card 
        [name]="'Goblin Drill'"
        [image1]="'assets/img/goblinDrill_card.png'" 
        [image2]="'assets/img/statsGoblinDrill.png'" 
        [text]="'Lets play Whack-A-Drill! When deployed near enemy Crown Towers, Goblin Drill submerges and reappears around the tower as it takes damage, spawning Goblins each time.'">
      </app-card>
    </div>
    </div>